@import "tailwindcss";

:root {
  --background: #000;
  overflow-x: hidden;
}

body {
  background: var(--background);
}

@layer utilities {
  .hover-animation {
    @apply cursor-pointer opacity-75 hover:opacity-100 transition-opacity duration-100;
  }
}

/* koi empty mask class mat rehne do */

